:root {
  font-size: 60%;
  background-color: var(--dark-background-color);

  --h1-color: #f8f8f8;
  --h2-color: #d8d8d8;
  --dark-background-color: #121212;
  --header-color: blueviolet;
  --main-input-bg-color: #eeeeee;
  --secondary-input-bg-color: #d3d3d3;
  --quiz-item-bg-color: #b3b2b2;
  --placeholder-color: #2e2e2e;
  --button-color: #622be2;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--dark-background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--header-color);
  border-radius: 1rem;
}

@media(min-width: 1100px) {
  :root {
    font-size: 65%;
  }

  .app {
    width: 65%;
    margin: auto;
  }
}