:root {
  font-size: 60%;
  background-color: #e6e6e6;

  --green-input: #0dbd0d;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

@media(maxwidth: 1000) {
  :root {
    font-size: 62,5%;
  }
}