.quiz-item-container {
    width: 100%;
    margin-top: 2.4rem;
    background-color: var(--quiz-item-bg-color);
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.4rem black;
}

.quiz-item-container .quiz-item-header {
    background-color: blueviolet;
    height: 2rem;
    color: white;
    border-bottom: solid 0.15rem var(--dark-background-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.quiz-item-container .quiz-item-logo {
    font-family: 'lemonada';
    font-size: 1.3rem;
    font-weight: 300;
    margin-right: auto;
    margin-left: 1rem;
}

.quiz-item-container .quiz-item-header .header-button {
    width: 2rem;
    height: 100%;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-left: solid 0.15rem var(--dark-background-color);
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-item-container .question {
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0;
    min-height: 6rem;
    max-height: 40rem;
    min-width: 100%;
    max-width: 100%;
    font-size: 1.9rem;
    font-weight: 150;
    text-align: center;
    background-color: var(--main-input-bg-color);
    color: var(--dark-background-color);
    box-shadow: 0rem 0.1rem 0.3rem var(--dark-background-color);

    outline: none;
    border: 0;
}
.quiz-item-container .question::placeholder {
    color: var(--placeholder-color);
}
