.quiz-item-container {

    width: 100%;
    margin-top: 2.4rem;
    min-height: 20rem;
    background-color: #b3b2b2;
    border-radius: 0.4rem;
    
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.question {
    font-family: 'Poppins', sans-serif;
    padding: 0.8rem;
    min-height: 6rem;
    max-height: 40rem;
    min-width: 100%;
    font-size: 1.9rem;

    font-weight: 150;
    text-align: center;

    background-color: #eeeeee;
    color: #121212;

    outline: none;
    border: 0;
}
.question::placeholder {
    color: #2e2e2e;
}


.answer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.option-box {
    display: flex;
    margin: 0.1rem 0;
}

.answer .option-box .options {
    font-family: 'Poppins', sans-serif;
    height: 4rem;
    min-width: 88%;

    background-color: #d3d3d3;
    color: #121212;
    font-size: 1.7rem;
    outline: none;
    border: none;

    transition: 200ms;
    text-align: center;
}
.answer .option-box .options:hover {
    background-color: #dddddd;
}
.answer .option-box .options:focus {
    background-color: #eeeeee;
}

.answer .option-box .select-right-option-box {
    opacity: 1;
    width: 100%;
    background-color: #59eb4c;
}

.answer .option-box .select-right-option-box .select-right-option {
    display: none;
}

.answer .add-option-button {
    height: 4rem;
    background-color: #eeeeee;
    color: #121212;

    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;    
    outline: 0;
    border: none;

    transition: 200ms;


}
